<div id="{{id}}">{{message}}</div>
<a ng-show="transcript && source && transcriptExist" class="transcript-link" href="{{transcript}}" target="_blank" ng-click="onTranscriptClick($event)">
    <ico family="outline" value="transcript" width="17" height="24" fill="#FFF"></ico>
</a>